<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Lista02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Exercicio1_1</display-name>
    <servlet-name>Exercicio1_1</servlet-name>
    <servlet-class>tads.dsw.Exercicio1_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio1_1</servlet-name>
    <url-pattern>/Exercicio1_1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercicio1_2</display-name>
    <servlet-name>Exercicio1_2</servlet-name>
    <servlet-class>tads.dsw.Exercicio1_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio1_2</servlet-name>
    <url-pattern>/Exercicio1_2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercicio1_2a</display-name>
    <servlet-name>Exercicio1_2a</servlet-name>
    <servlet-class>tads.dsw.Exercicio1_2a</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio1_2a</servlet-name>
    <url-pattern>/Exercicio1_2a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercicio2_1</display-name>
    <servlet-name>Exercicio2_1</servlet-name>
    <servlet-class>tads.dsw.Exercicio2_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio2_1</servlet-name>
    <url-pattern>/Exercicio2_1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercicio2_1Main</display-name>
    <servlet-name>Exercicio2_1Main</servlet-name>
    <servlet-class>tads.dsw.Exercicio2_1Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio2_1Main</servlet-name>
    <url-pattern>/Exercicio2_1Main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercicio2_1Process</display-name>
    <servlet-name>Exercicio2_1Process</servlet-name>
    <servlet-class>tads.dsw.Exercicio2_1Process</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio2_1Process</servlet-name>
    <url-pattern>/Exercicio2_1Process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercicio2_2Main</display-name>
    <servlet-name>Exercicio2_2Main</servlet-name>
    <servlet-class>tads.dsw.Exercicio2_2Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio2_2Main</servlet-name>
    <url-pattern>/Exercicio2_2Main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercicio2_2Process</display-name>
    <servlet-name>Exercicio2_2Process</servlet-name>
    <servlet-class>tads.dsw.Exercicio2_2Process</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio2_2Process</servlet-name>
    <url-pattern>/Exercicio2_2Process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercicio3_1Login</display-name>
    <servlet-name>Exercicio3_1Login</servlet-name>
    <servlet-class>tads.dsw.Exercicio3_1Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio3_1Login</servlet-name>
    <url-pattern>/Exercicio3_1Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercicio3_1Dashboard</display-name>
    <servlet-name>Exercicio3_1Dashboard</servlet-name>
    <servlet-class>tads.dsw.Exercicio3_1Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio3_1Dashboard</servlet-name>
    <url-pattern>/Exercicio3_1Dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercicio3_2Login</display-name>
    <servlet-name>Exercicio3_2Login</servlet-name>
    <servlet-class>tads.dsw.Exercicio3_2Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio3_2Login</servlet-name>
    <url-pattern>/Exercicio3_2Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercicio3_2Dashboard</display-name>
    <servlet-name>Exercicio3_2Dashboard</servlet-name>
    <servlet-class>tads.dsw.Exercicio3_2Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio3_2Dashboard</servlet-name>
    <url-pattern>/Exercicio3_2Dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercicio3_2Logout</display-name>
    <servlet-name>Exercicio3_2Logout</servlet-name>
    <servlet-class>tads.dsw.Exercicio3_2Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio3_2Logout</servlet-name>
    <url-pattern>/Exercicio3_2Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercicio4_1Cookie</display-name>
    <servlet-name>Exercicio4_1Cookie</servlet-name>
    <servlet-class>tads.dsw.Exercicio4_1Cookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio4_1Cookie</servlet-name>
    <url-pattern>/Exercicio4_1Cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercicio4_1WelcomeCookie</display-name>
    <servlet-name>Exercicio4_1WelcomeCookie</servlet-name>
    <servlet-class>tads.dsw.Exercicio4_1WelcomeCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio4_1WelcomeCookie</servlet-name>
    <url-pattern>/Exercicio4_1WelcomeCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercicio4_2Cookie</display-name>
    <servlet-name>Exercicio4_2Cookie</servlet-name>
    <servlet-class>tads.dsw.Exercicio4_2Cookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio4_2Cookie</servlet-name>
    <url-pattern>/Exercicio4_2Cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Exercicio4_2RemoveCookie</display-name>
    <servlet-name>Exercicio4_2RemoveCookie</servlet-name>
    <servlet-class>tads.dsw.Exercicio4_2RemoveCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exercicio4_2RemoveCookie</servlet-name>
    <url-pattern>/Exercicio4_2RemoveCookie</url-pattern>
  </servlet-mapping>
</web-app>